.contact-section{
   
 .map{
   width: 100%;
   height: 300px;
   object-fit: cover;
   object-position: center; 
   margin-bottom: 2rem;

  
 }  
 .form-control{
    margin-bottom: 1rem;
    font-size: 21px;
 }
 .hearder{
    font-size: 18px;
 }
}