.About-section{
 padding: 80px 0;

 
 .card{
    background-color: rgb(243, 246, 247);
    padding: 5rem 8rem;
    align-items: center;
    margin-bottom: 20px;
    
    box-shadow: 2px 4px 8px 2px black;
 }
 .quote{
    font-size: 28px;}
    .small{
        font-size: 18px;
        font-weight: 500;
    }
 }

